<div class="container text-center">
  <div class="row justify-content-center">
      <div class="col-xl-4 col-md-4 mb-3 mb-lg-5">
            <!--Card-->
            <div class="card overflow-hidden text-center">
              
      
              <!--Card body-->
              <div class="card-body p-0">
                <!--avatar-->
                <a href="#!.html" class="avatar xl rounded-circle bg-gray bg-opacity-10 p-1 position-relative mt-n5 d-block mx-auto">
                  <img src="{{user.photo.url}}" class="avatar-img img-fluid rounded-circle" alt="" width="250" height="250">
                </a>
                <h5 class="mb-0 pt-3">
                  <a href="#!.html" class="text-reset">{{user}}</a>
                </h5>
                <br>
                {% comment "comento perfil IT" %}
                <span class="text-muted small d-block mb-4">Full stack developer</span>
                {% endcomment %}
                
                <div class="row mx-0 border-top border-bottom">
                  <div class="col-6 text-center border-end py-3">
                    <h5 class="mb-0">Tipo de usuario</h5>
                    <small class="text-muted">{{user.type_user}}</small>
                  </div>
                  <div class="col-6 text-center py-3">
                    <h5 class="mb-0">Estado</h5>
                    {% if user.active %}
                      <span class="align-middle lh-1 me-1 size-5 border border-4 border-success rounded-circle d-inline-block"></span>
                      <small class="text-muted"> Active </small>
                      {% else %}
                      <span class="align-middle lh-1 me-1 size-5 border border-4 border-warning rounded-circle d-inline-block"></span>
                      <small class="text-muted"> Inactive </small>
                      {% endif %}
                    
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
                    <strong>Se unio</strong>
                    <span class="text-muted small">{{user.date_created}}</span>
                    
                  </li>
                  <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
                    <strong>Nombres</strong>
                    <span class="text-muted small">{{user.name}}</span>
                    
                  </li>
                  <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
                    <strong>Apellidos</strong>
                    <span class="text-muted small">{{user.last_name}}</span>
                    
                  </li>
                  <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
                    <strong>Email</strong>
                    <span class="text-muted small">{{user.email}}</span>
                    
                  </li>
                  <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
                    <span class="text-muted small d-flex align-items-center"></span>
                    <div class="text-end">
                      <a href="{% url 'index' %}" class="btn btn-sm btn-primary">Volver</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>    
        </div>
      </div>