<div class="clearfix">
  <div class="hint-text">Showing <b>{{users_by_page}}</b> out of <b>{{total_users}}</b> entries</div>
  <ul class="pagination">

    {# Seccion de la paginacion Previa #}
      {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{page_obj.previous_page_number}}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a href="">Previous</a></li>
      {% endif %}
    {# Fin Seccion de la paginacion Previa #}

    {% for page in pages %}

      {% if page == page_obj.number %}
        <li class="page-item active"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
      {% else %}
        <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
      {% endif %}
    
    
    {% endfor %}
    
    {# Seccion de la paginacion Siguiente #}
      {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
      {% else %}
        <li class="page-item disabled"><a href="" class="page-link">Next</a></li>
      {% endif %}
    {# Fin Seccion de la paginacion Siguiente #}
  </ul>
</div>