<div class="container mt-3 border rounded-2">           
    <table class="table table-striped">
      <thead>
        <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" >
              </div>
          </th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>E-mail</th>
          <th>Tipo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}

        <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" >
              </div>
          </td>
          <td>{% if user.active %}Activo{% else %}Inactivo{% endif %}</td>
          <td>
          <img src="{{user.photo.url}}" class="rounded-circle" alt="Cinque Terre" width="30" height="30"> 
          {{user}}
          </td>
          <td>{{user.email}}</td>
          <td>{{user.type_user}} </td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-primary"><a class="page-link"  href="{% url 'user_view' id=user.id %}">Ver</a></button>
              <button type="button" class="btn btn-warning"><a class="page-link"  href="{% url 'user_edit' id=user.id %}">Editar</a></button>
              <button type="button" class="btn btn-danger"><a class="page-link"  href="{% url 'user_delete' id=user.id %}">Borrar</a></button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  