{% extends 'base.html' %}
{% load static %}

{% block pre_styles %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock pre_styles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/img_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock styles %}




{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="w3-container w3-center">
        <div class="modal-dialog alert alert-success">				
            <h4 class="modal-title">{{message}}</h4>
        </div>
    </div> 
    {% endfor %}
{% endif %}
    {% include 'components/cards/card_form.html' %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'scripts/load_img.js' %}"></script>
{% endblock scripts %}