	<!-- View Modal HTML -->
	{# Ver a un usuario #}
<div class="container-card">
	<div id="viewEmployeeModal" >
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
                    <div class="">
                        <div class="modal-header ">
                            <div class="w3-cell-row">
                                <div class="w3-container w3-cell">				
                                    <h4 class="modal-title">View Employee</h4>
                                </div>
                                <div class="w3-container w3-cell">				
                                    <a href="{% url 'index' %}" target="_parent">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="container-card">
                            <div class="container-img">
                                <img src="{{user.photo.url}}" id="imagenPrevisualizacion" class="img-profile" alt="foto">
                            </div>
                        </div>
                    </div>
                    <div class="w3-conatiner w3-center">
                        {% if user.active %}
                            <span style="font-size:25px;" class="status text-success">&#8226;</span>
                            <span style='font-size:15px;' class="status text-success">Active</span>
                        {% else %}
                            <span style="font-size:25px;" class="status text-warning">&#8226;</span>
                            <span style='font-size:15px;' class="status text-warning">Inactive</span>
                        {% endif %}
                    </div>

					<div class="modal-body">

                        <div class="w3-cell-row">
                            <div class="w3-container w3-left-align w3-margin-left">
                                <p><span class="glyphicon glyphicon-user"></span> Name: {{user}}</p> 
                                <p><span class="glyphicon glyphicon-envelope"></span> Email: {{user.email}}</p>
                                <p><span class="glyphicon glyphicon-home"></span> Address: {{user.address}}</p>    
                                <p><span class="glyphicon glyphicon-earphone"></span> Phone: {{user.phone}} </p>
                                <p><span class="glyphicon glyphicon-wrench"></span> Role: {{user.type_user}} </p>    
                                <p><span class="glyphicon glyphicon-calendar"></span> Created Date: {{user.get_date}} </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'user_edit' id=user.id %}" class="btn btn-warning"> Edit</a>
                            <a href="{% url 'user_delete' id=user.id %}" class="btn btn-danger"> Delete</a>
                        </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	{# Fin Ver a un Usuario #}